/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & Rezaul Hassan 108822849
 */

.root{
    -fx-font-size: 12pt;
    -fx-font-family: "Verdana", "Geneva", sans-serif;
}

.dialog_box{
    -fx-font-size: 10pt;
    -fx-font-family: "Verdana", "Geneva", sans-serif;
    -fx-padding: 5px, 10px, 5px, 10px;
    -fx-spacing: 10;
    -fx-background-color: rgb(255, 255, 0);
    -fx-border-color: rgb(255, 215, 0);     
}

.boxes{
    -fx-background-color: rgb(255, 255, 224);    
    -fx-border-color: rgb(0, 0, 0);     
    -fx-font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
}

.slide_show_edit_vbox {
    -fx-alignment: center;
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(0, 0, 0);
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-thickness: 10px;
    -fx-spacing: 18px;    
}

.slide_edit_view {
    -fx-font-size: 10pt;
    -fx-font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(255,255,0);
    -fx-border-color: rgb(255, 215, 0);    
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
}

.selected_slide_edit_view{
    -fx-background-radius: 12.0;
    -fx-background-color: rgb(255, 255, 224);
    -fx-border-color: rgb(255, 215, 0);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
}

.vertical_toolbar_button {
    -fx-background-color: rgb(255,255,224);
    -fx-border-color: rgb(240,230,140);    
    -fx-padding: 10px 10px 10px 10px;
//moved to sse_vbox    -fx-spacing: 20px;    
}

.horizontal_toolbar_master{  
    -fx-background-color: rgb(0, 0, 0);
    -fx-hgap: 20;
    //adding spacing on this parent nor its child box does anything
    //so hgap is used instead
}

.horizontal_toolbar_button {
    -fx-background-color: rgb(255,255,224);
    -fx-border-color: rgb(240, 230, 140);     
//-    -fx-padding-left: 10px;
//-    -fx-padding-right: 20px;
    -fx-padding: 5px 14px 5px 14px;
}